@model IEnumerable<TeamPlayCRUD.Models.State>

@{
    ViewData["Title"] = "Index";
}

<h1 class="jumbotron text-center text-capitalize">Lista general de Estado de Jugadores</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Nuevo Estado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Estado
            </th>
            <th>
                Creado
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
            </tr>
        }
    </tbody>
</table>
