@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a TeamPlay</h1>
    <p>Desarrollado por Jorge Guzman</p>
    <small>Sofware Developer</small>
</div>
